.content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
}

.titulo {
  color: #6200ee;
  text-align: center;
  margin-top: 100px;
  size: 75px;
}
