html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
}

.form-card {
  display: flex;
  flex-direction: column;

  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
}

.form-card-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form-seccion-checkbox{
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  color: #6200ee;
}

.form-titulo {
  color:#6200ee;
  text-align: center;
}

.form-subtitulo {
  color: #8b70b0;
}

.table-content{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.table {
margin-top: 10px;
}

.table-titulo {
  color:#6200ee;
  text-align: center;
}

/*
Pagina no encontrada
.titulo-pagina {
  display: flex;
  color: rgb(147, 8, 147);
  justify-content: center;
  margin: 20px;
  text-transform: uppercase;
}

.parrafo-no-found {
  color: black;
  text-align: center;
}

.button-no-found{
  display: flex;
  justify-content: center;
}
*/
