<div class="div-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="mat-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <h1 class="app-name"></h1> -->
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        @for (item of menuItems; track item) {
        <a mat-list-item [routerLink]="item?.path" [disabled]="!item?.path">
          @if (item?.icon) {
          <mat-icon>{{ item.icon }}</mat-icon>
          } @else {
          <mat-icon> check </mat-icon>
          }
          {{ item.name }}
        </a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet />
      <!-- footer component -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
